.label {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 4px;
  background-color: #e1edff;
  border-radius: 3px;
  color: #0b6acb;
  margin-right: 8px;
  margin-bottom: 6px;

  .label-text {
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .label-remove {
    margin-left: 4px;
    cursor: pointer;
  }
}
