.filter-bar {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  border-radius: 4px;

  .filter-block {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    background-color: #e1edff;
    color: #074382;

    .filter-token, .del-btn {
      padding: 4px;
      position: relative;

      &:first-of-type {
        border-radius: 4px 0 0 4px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
      }

      &:not(:first-child) {
        cursor: pointer;
      }

      &:not(:first-child):hover, &.is-editing {
        background-color: #a4d1fc;
      }
    }
  }

  .filter-conjunction {
    padding: 4px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #e7e9ea;

    &.is-editing {
      background-color: #e7e9ea;
    }
  }

  .filter-entry {
    position: relative;
  }
}
