$success: #01A76A;
$warning: #FFD23D;
$critical: #F5554B;
$unknown: #9EA5A9;

.status-icon {
  display: inline-block;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 12px;
  width: 10px;

  &.success {
    background-color: $success;
  }
  &.warning {
    background-color: $warning;
  }
  &.critical {
    background-color: $critical;
  }
  &.unknown {
    background-color: $unknown;
  }
}
