.metric {
  display: flex;
}

.metric-status {
  padding-left: 3px;
  width: 10px;
  height: 10px;
}

.metric-content {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  &--colorgrey {
    color: #bdbdbd;
  }

  &--colorblack {
    color: #333333;
  }

  &--size1_4em {
    font-size: 1.4em;
  }

  &--weight700 {
    font-weight: 700;
  }
}
