.metric {
  display: flex;
}

.metric-status {
  padding-left: 3px;
  width: 10px;
  height: 10px;
}

.metric-content {
  line-height: 25px;
  margin: 10px 10px 0 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:10px;

  &--colorgrey {
    color: #bdbdbd;
  }

  &--colorblack {
    color: #333333;
  }

  &--size1_6em {
    font-size: 1.6rem;
  }

  &--weight900 {
    font-weight: 900;
  }
}
